@font-face {
  font-family: "iconfont"; /* Project id 4104438 */
  src: url('//at.alicdn.com/t/c/font_4104438_yppcv7um9.woff2?t=1685936935142') format('woff2'),
       url('//at.alicdn.com/t/c/font_4104438_yppcv7um9.woff?t=1685936935142') format('woff'),
       url('//at.alicdn.com/t/c/font_4104438_yppcv7um9.ttf?t=1685936935142') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left-doubleshuangjiantou-zuo:before {
  content: "\e848";
}

.icon-arrow-right-doubleshuangjiantou-you:before {
  content: "\e849";
}

.icon-useryonghu:before {
  content: "\e858";
}

.icon-uploadshangchuan3:before {
  content: "\e859";
}

.icon-bofang:before {
  content: "\e85a";
}

.icon-dakai:before {
  content: "\e85b";
}

.icon-dakai2:before {
  content: "\e85c";
}

.icon-caidan:before {
  content: "\e85d";
}

.icon-guanbiyulan:before {
  content: "\e85e";
}

.icon-lishishijian:before {
  content: "\e85f";
}

.icon-ic_fangjianshao_shise:before {
  content: "\e608";
}

.icon-a-ic_fangzengjia2:before {
  content: "\e609";
}

.icon-ic_bianji:before {
  content: "\e60a";
}

.icon-ic_fanhui:before {
  content: "\e60b";
}

.icon-ic_guanbi_da:before {
  content: "\e60c";
}

.icon-gengduo:before {
  content: "\e60d";
}

.icon-gengduo-1:before {
  content: "\e60e";
}

.icon-xiala-1:before {
  content: "\e60f";
}


